<div class="page-content">
    <h2>My suppliers</h2>
    <ul>
        <li *ngFor="let supplier of suppliers">
            <button type="button" (click)="onSelect(supplier)">
                <span class="badge">{{supplier.id}}</span>
                <span class="name">{{supplier.name}}</span>
            </button>
        </li>
    </ul>

    <ul>
        <li *ngFor="let supplier of suppliers">
            <a routerLink="/supplier/detail/{{supplier.id}}">{{supplier.name}}</a>
        </li>
    </ul>

    <app-supplier-detail-page [supplier]="selectedSupplier"></app-supplier-detail-page>
</div>

